<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Maps&display=swap');

  :root {
    --line-border-fill: #3498db;
    --line-border-empty: #bbb2b2;
  }

  *{
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto Condensed', Georgia, 'Times New Roman', Times, serif ;
    display: flex; /*center everything*/
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* no scroll bars to be shown by defaulth */
    margin: 0; /* get rid of margin*/ 
  }
  .container {
    text-align: center;
  }

  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 400px;
  }

  .progress-container::before {
    content: '';
    background-color: rgba(244, 237, 240, 0.733);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    


  }
  
  .progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;


  }

  .circle {
    background-color: #fff;
    color: #e062b4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e0e0e0;
    transition: .4s ease;

  } 

.circle.active {
  border-color: var(--line-border-fill)
  

} 